@import "variables";

.reviews {
  width: 500px;
  margin: 40px auto;
  position: relative;
  &__wrap {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  &__title {
    color: $textColor;
    font-size: 28px;
    margin-bottom: 34px;
  }
  &__comment {

    &-one {
      display: flex;

      &:hover {
        cursor: pointer;
      }
      &-img {
        padding-right: 21px;
        transition: transform 0.3s;
      }
      &:hover .reviews__comment-one-img {
        transform: scale(1.2);
      }
    }
    &-name {
      color: $textColor;
      font-size: 20px;
      font-weight: bold;
    }
    &-data {
      color: $textColor;
      font-size: 14px;
    }
    &-text {
      color: $textColor;
      font-size: 16px;
    }
  }
  &__link {
    text-decoration: none;
    display: block;
    width: 200px;
  }
}

.first {
  margin-top: 25px;
}
