@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Book.ttf);
  font-weight: 300;
}

@import "_header";
@import "variables";
@import "_media";
@import "_quiet";
@import "_amenities";
@import "_reviews";
@import "_hosted";

body,
h1,
p,
h2,
h3,
button,
ul {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
}

.footer {
  min-height: 213px;
  margin-top: 70px;
  background: #fff;
  box-shadow: 0 -1px 0 #e1e7ed;
  &__wrap {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;

  }
  &__title {
    margin-top: 44px;
    color: $textColor;
    font-size: 16px;
  }
  &__airbnb {
    margin-right: 250px;
  }
  &__discover {
    margin-right: 250px;
  }
  &__nav {
    margin-top: 20px;
    &-item {
      list-style-type: none;
      margin: 4.5px 0;
    }
    &-link {
      text-decoration: none;
      color: $textColor;
      font-size: 16px;
      transition: color 0.3s;
      &:hover {
        color: #7fa1c9;
        text-decoration: underline;
      }
    }
  }
  &__hosting &__nav-item:last-child {
    margin-bottom: 30px;

  }
}
